/* CSS used on index.html, notes.html, and todo.html pages */

.h3, h3 {
    font-size: 24px;
    font-weight: bolder;
    color: #438496;
}

.alignLeft {
    float:left;
}

.alignRight {
    float:right;
}

.padding {
    padding-left: 25px;
    padding-right: 25px;
}

.nav-border {
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: #ffffff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #f7882f;
}

a {
    color: #438496;
    text-decoration: none;
}

body {
    background-color: #efefef;
    font-family: Lucida Sans Unicode;
}


.tab-content {
    background-color: #ffffff;
    border-top: 1px solid #d3d3d3;
}

.tab-pane {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

.col-xs-6 {
    padding-left: 15px;
    padding-right: 15px;
}

.boxes {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid;
}

#logo {
    list-style-type: none;
}

#username_input {
    width: 200px;
}

.form-group {
    width: 200px;
}
