

.alignLeft {
	float:left;
}

.alignRight {
	float:right;
}

.padding {
	padding-left: 25px;
	padding-right: 25px;
}

.nav-border {
	border-top: 2px solid;
	border-bottom: 2px solid;
	background-color: #ffffff;
}

body {
	background-color: #e6e6e6;
	font-family: Lucida Sans Unicode;
}

#line {
	size:3;
	color:black;
	width:100%;
}

.homeShowBoxes {
	padding-top: 8px;
  	padding-bottom: 8px;
  	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #A9A9A9;
}

.pageTable {
	border: 1px solid #88888c;
	border-spacing: 4px;
	border-collapse: separate;
}

.pageRow {
	  border: 1px solid #88888c;
	  padding: 10px 15px;
}

.tab-content {
	background-color: #ffffff;
	border-top: 1px solid #d3d3d3;
}

.tab-pane {
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;